<table class="scores-table">
  <caption>Scores Table</caption>
  <thead>
    <th>Over</th>
    <th colspan="6">Runs</th>
    <th>Total</th>
  </thead>
  <tbody>
    {{#each this.over_score as |overScore|}}
    <Createrow @input_data={{overScore}} />
    {{/each}}
  </tbody>
</table>